mixin marketBuyBtn(isBlock=true)
  a.market-btn.d-none.btn.btn-light.btn-square(href='#', class=isBlock ? 'btn-block': 'btn-inline')
    object.icon(type="image/svg+xml", data="./assets/images/partners/verto_logo_light.svg")
    | Buy tokens

mixin marketSellBtn(isBlock=true)
  a.market-sell-btn.d-none.btn.btn-light.btn-square(href='#', class=isBlock ? 'btn-block': 'btn-inline')
    object.icon(type="image/svg+xml", data="./assets/images/partners/verto_logo_light.svg")
    | Sell tokens