mixin marketBuyBtn(isBlock=true)
  a.market-btn.disabled.btn.btn-light.btn-square(href='#', class=isBlock ? 'd-flex': '')
    object.icon(type="image/svg+xml", data="./assets/images/partners/verto_logo_light.svg")
    | Buy tokens

mixin marketSellBtn(isBlock=true)
  a.market-sell-btn.disabled.btn.btn-light.btn-square(href='#', class=isBlock ? 'd-flex': '')
    object.icon(type="image/svg+xml", data="./assets/images/partners/verto_logo_light.svg")
    | Sell tokens