#login-modal.modal.modal-blur.fade(role="dialog")
  .modal-dialog(role="document"): .modal-content
    .modal-body
      .form-label Wallet key file
      .login-box

    .modal-footer
      a.btn.btn-link.link-secondary(data-dismiss="modal" href="#") Cancel