#verto-modal.modal.modal-blur.fade(role="dialog", style="display: none")
  .modal-dialog.modal-sm(role="document"): .modal-content
    .modal-header
        h5.modal-title Buy tokens
        button.close(data-dismiss="modal")
          i.icon(data-feather="x")
    .modal-body
      .mb-3
        .input-label Send
        .input-group
          input#verto-amount.form-control.input-float(type="text", value="0")
          span.input-group-text.ticker AR
      .mb-3.avg-price 
        .progress: .progress-bar.progress-bar-indeterminate.bg-dark
      
      .mb-3
        small Service provided by the #[a(href="https://verto.exchange", target="_blank") Verto Exchange].
        br
        small.strong Warning! Verto is currently in Alpha. Use at your own risk.

    .modal-footer
      a.btn.btn-link.link-secondary(data-dismiss="modal" href="#") Cancel

#verto-sell-modal.modal.modal-blur.fade(role="dialog", style="display: none")
  .modal-dialog.modal-sm(role="document"): .modal-content
    .modal-header
        h5.modal-title Buy tokens
        button.close(data-dismiss="modal")
          i.icon(data-feather="x")
    .modal-body
      .mb-3
        .input-label Amount
        .input-group
          input#verto-sell-amount.form-control.input-float(type="text", value="1")
          span.input-group-text.ticker 

      .mb-3.avg-price 
        .input-label Rate
        .input-group
          input#verto-sell-rate.form-control.input-float(type="text", value="1")
          span.input-group-text AR/#[span.ticker]

      .mb-3
        a.tokens-sell-btn.btn.btn-dark.btn-block(href="#") Sell
      
      .mb-3
        small Service provided by the #[a(href="https://verto.exchange", target="_blank") Verto Exchange].
        br
        small.strong Warning! Verto is currently in Alpha. Use at your own risk.

    .modal-footer
      a.btn.btn-link.link-secondary(data-dismiss="modal" href="#") Cancel