@import "./tabler.scss";

.avatar-xl {
  .icon {
    width: 64px;
    height: 64px;
  }
}

.deployer {
  position: relative;
  border: 1px dashed;
  padding: 10px;

  &.highlight {
    border: 1px solid;
    background: #F4F4F4;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
  }
}